<div class="row {{if isSelected 'selected'}} {{if isEditMode 'editmode'}}">
  <div class="ui input">
    <input class="column textright readonly" type="text" value={{sequence}} readonly=true />
  </div>
  {{#if isEditMode}}
    <div class="column">
      <div class="ui selection dropdown {{if isNotExerciseValid 'error'}}" data-id="exercise">
        <input type="hidden" />
        <i class="dropdown icon"></i>
        <div class="default text">Выбор...</div>
        <div class="menu">
          {{#each model.exerciseSheet as |exercise|}}
            <div class="item" data-value={{exercise.name}}>{{exercise.name}}</div>
          {{/each}}
        </div>
      </div>
    </div>
  {{else}}
    <div class="ui input">
      <input class="column {{if isEditMode '' 'readonly'}}" type="text" value={{model.exercise.name}} readonly=true />
    </div>
  {{/if}}
  <div class="ui input {{if isNotDurationValid 'error'}}" data-id="duration">
    <input class="column {{if isEditMode '' 'readonly'}}" placeholder="чч:мм:сс" type="text" value={{duration}} readonly={{if isEditMode undefind true}} />
  </div>
  <div class="ui input {{if isNotAveragePulseValid 'error'}}" data-id="averagePulse">
    <input class="column textright {{if isEditMode '' 'readonly'}}" type={{if isEditMode 'number' 'text'}} value={{averagePulse}} readonly={{if isEditMode undefind true}} />
  </div>
  <div class="ui input">
    <input class="column textright readonly" type="text" value={{estimatedScore}} readonly=true />
  </div>
  <div class="ui input">
    <input class="column textright readonly" type="text" value={{actualScore}} readonly=true />
  </div>
</div>
{{#if isEditMode}}
  <div class="column">
    <button class="ui button" {{action "ok"}}>Ok</button>
    <button class="ui button" {{action "cancel"}}>Cancel</button>
  </div>
  <div class="row" />
{{/if}}
